{% extends 'base.html' %}
{% load static from staticfiles %}

{% block contenu %}
    <p class="text-warning"> Article created by {{ article.owner.first_name }}</p>
    <p class="text-warning"> at {{ article.date_published }}</p>
    <p class="muted">Categories : </p>
    <div class="well-small">
    {% if article.categories.all %}
            {% for categorie in article.categories.all %}
                <p class="text-error">  {{ categorie.titre }} </p>
            {% endfor %}
    {% else %}
        <p class="muted">No categories defined for this article yet.</p>
    {% endif %}
    </div>
    <div class="well-small" >
        <p class="text-info"> {{ article.info }}</p>

        <div class="well-small">
            {% if article.list_comments.all %}
                <ul>
                    {% for comment in article.list_comments.all %}
                        <li><p class="text-error">  {{ comment.owner }} said :</p>
                            <p class="muted"> {{ comment.info }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="muted">No one commented this yet, be the first to comment this article</p>
            {% endif %}
        </div>
    </div>
    <button type="button" class="btn btn-danger collapsed" data-toggle="collapse" data-target="#demo" >
       Add a Comment
    </button>

    <div id="demo" class="collapse" >
        <form action="{% url 'article' article.id %}" method="post">
            {% csrf_token %}
            {%include "blog/my_form_snippet.html"%}
            <p><input type="submit" value="Submit comment" /></p>
        </form>

    </div>
{% endblock %}