{% extends 'base.html' %}
{% load static from staticfiles %}

{% block contenu %}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="contener">
                {% block navbar %}
                    <a class="brand" href="#">This is the best blog ever</a>
                    <ul class="nav">
                        {% if user.is_active %}
                            <li>
                                <a href="{% url 'django.contrib.auth.views.logout'  %}">disconnect</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'django.contrib.auth.views.login' %}">connect</a>
                            </li>
                        {% endif %}

                    </ul>
                {% endblock %}
            </div>
        </div>
        <ul class="nav nav-pills">
            <li class="active">
                <a href="{% url 'index' %}">All Categories</a>
            </li>
            {% for categorie in categories %}
                <li>
                    <a href="{% url 'categorie' categorie.id %}">{{ categorie }}</a>
                </li>
            {% endfor %}
        </ul>
        {% if user.is_active%}
            <p class="muted"> Welcome {{ user.username }}</p>
            <a class="btn-primary" href="{% url 'new_article'  %}">AddArticle</a>
        {% else %}
            <p class="muted"> Welcome stranger</p>
        {% endif %}
    </div>
    {% if article_List %}
        <ul>
            {% for article in article_List %}
                <li><p class="text-error"> Authors is {{ article.owner }} {{article.owner.second_name}}</p>
                    <p class="text-info"> <a href="{% url 'article' article.id %}" > {{ article.titre }}</a></p>
                    <p class="text-warning"> this article was posted {{ article.date_published }}</p>
                    {% if article.list_comments.all|length > 0 %}
                        <p class="muted"> {{article.list_comments.all|length}} people commented this</p>
                    {% else %}
                        <p class="muted"> Be the first to comment this article.</p>
                    {% endif %}

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="muted">No posted articles.</p>
    {% endif %}
{% endblock %}

