{% extends "base.html" %}
{% load static from staticfiles %}

{% block contenu %}

    <form action=""class="form-inline" method="POST">
        {% csrf_token %}
{#        <input type="text" class="input-small" placeholder="Username" name="username">#}
{#        <input type="password" class="input-small" placeholder="Password" name="password">#}
{#        #}
        {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
        {% endfor %}
        <input type="submit" value="Send"> <INPUT type="reset">
        <input type="hidden" name="next" value="/blog/">
    </form>

{% endblock %}