{% extends "base.html" %}

{% block contenu %}
    <h2>Publishers</h2>
    <ul>
        {% for publisher in object_list %}
            <li><p class="text-warning">Nom: {{ publisher.first_name }} </p>
                <p class="text-warning">Prenom: {{ publisher.second_name }} </p>
                <p class="text-success">Profession: {{ publisher.profession }} </p> </li>
        {% endfor %}
    </ul>
{% endblock %}