{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>CiobotarusBlog</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'validation/dist/jquery.validate.js' %}"></script>
    <script type="text/javascript" src="{% static 'validation/localization/messages_fr.js'%}"></script>
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>
<body>

    <div class="container">

        {% block contenu %}
        {% endblock %}

    </div>
</body>
</html>